$base-font-size: 10px;
$main-font-size: $base-font-size * 1.6;

$font: "PT Sans", Helvetica, Arial, sans-serif;

$main-text-color: #222;
$main-bg-color: #ffffcc;
$border-color: #ccc;
$btn-color: green;